<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">

        <div class="row">
            {% assign member = site.people[0] %}

            <!-- Image -->
            <div class="col-sm-4 col-sm-offset-2 text-center">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                </div>
            </div>

            <!-- Text beside image -->
            <div class="col-sm-4">
                <h2 class="section-heading">Behind 54 Nations</h2>
                <h3 class="section-subheading text-muted">
                    Why I created the 54 Nations Code.
                </h3>
                <p class="text-muted">
                    I started the 54 Nations Code after noticing how often Africa was spoken about in school as if it were one place, through phrases like “African history” or “African culture.” As a continent of 54 countries, each with its own identity, this lack of specificity felt both inaccurate and limiting. What began as a simple question about why this happens grew into a determination to create something that could change it. Behind this initiative, is just one South-London school girl, with a vision and hope for changing the tought perception of Africa.
                </p>
            </div>

        </div>

    </div>
</section>
            </div>
        </div>

    </div>
</section>
